.cartitem {
 
  display: grid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  grid-template-areas: "image details";
  grid-gap: .3rem;
  text-align: start;
  grid-template-columns: 0.5fr 1.8fr;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  
}
.cartimage {
  grid-area: image;
}

.cartdetails {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.carttitle
{
  font-weight: bold;
  font-size: larger;
}
.cartpriceitem
{
  font-size: larger;
  font-weight: bolder;
}

#quantBtn:active {
  
  box-shadow: 0 5px #666;
  transform: translateY(-4px);
}

@keyframes bounce {
  0% {
    background-color: rgb(255, 13, 0);
    transform: translateY(0px);
  }

  25% {
    background-color: rgb(38, 255, 0);
    transform: translateY(0.2px);
  
  }

  50% {
    background-color: rgb(255, 13, 0);
    transform: translateY(0.5px);
  }

  75% {
    background-color: rgb(38, 255, 0);
    transform: translateY(0.2px);
  }

  100% {
    background-color: rgb(255, 13, 0);
    transform: scale(1);
  }
}



@media (max-width: 1280px) {
  .cartdetails {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}
/*S20*/
@media (max-width: 640px) {
  .cartitem {
 
    display: grid;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    grid-template-areas: "image details";
    grid-gap: 2px;
    text-align: start;
    grid-template-columns: 0.1fr .2fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    
  }
  .cartdetails {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    margin-right: 20px;
  }
  .cartpricetag
  {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .cartimage>img {
   width: 15rem;
   height: 15rem;
  }
  .cartcheckout .btn
{
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  justify-content: start;
 
}
.cartcheckout 
{
  display: flex;
  margin-top: 10px;
 flex-direction: column ;
  margin-left: 0px;
  overflow-x: hidden;
  justify-content: start;
 
} 
  
}
