.pitem {
  display: grid;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  grid-template-areas: "image details";
  grid-gap: 0.3rem;
  text-align: start;
  grid-template-columns: 0.5fr 1.8fr;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
}
.pimage {
  grid-area: image;
}

.pdetails {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-weight: bold;
  font-size: larger;
}
.priceitem {
  font-size: larger;
  font-weight: bolder;
}
.priceinfo {
  font-size: small;
  font-weight: 300;
}
.review {
  display: flex;
  gap: 3rem;
}

#stockbtn {
  animation-name: color;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: normal;
  /* transform: translateY(-5px); */
}
#cartbtn:hover {
  animation: 4s linear 250ms ease-in alternate;
  /* transform: translateY(-5px); */
  transform: scale(1.2);
}
@keyframes color {
  0% {
    background-color: rgb(255, 13, 0);
    transform: scale(1);
  }

  25% {
    background-color: rgb(38, 255, 0);
    transform: scale(.8);
  
  }

  50% {
    background-color: rgb(255, 13, 0);
    transform: scale(.6);
  }

  75% {
    background-color: rgb(38, 255, 0);
    transform: scale(.8);
  }

  100% {
    background-color: rgb(255, 13, 0);
    transform: scale(1);
  }
}

@media (max-width: 1280px) {
  .pdetails {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .review {
    display: none;
    flex-direction: column;
    gap: 0.1rem;
  }
}
/*S20*/
@media (max-width: 640px) {
  .pitem {
    display: grid;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    grid-template-areas: "image details";
    grid-gap: 2px;
    text-align: start;
    grid-template-columns: 0.1fr 1fr;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: white;
    margin: 0 auto;
    width: 100%;
  }
  .pdetails {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  .title {
    font-weight: 300;
    font-size: smaller;
  }
  .pricetag {
    display: flex;
    flex-direction: column;
  }
  .pimage > img {
    width: 15rem;
    height: 15rem;
  }
  .priceitem {
    font-size: smaller;
    font-weight: bold;
  }
  .priceinfo {
    font-size: small;
    font-weight: 300;
  }
}
